.App {
  text-align: center;
  font-family: Tahoma;
}

.btn {
  width: 200px;
  padding: 10px;
  margin: 20px;
  background-color: dodgerblue;
  color: #FFF;
  border: 1px solid #DDD;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.danger { 
  background-color: orange;
}

.hide {
  background-color: black;
  color: #FFF
}

.success {
  background-color: lightseagreen;
}
